
<h4>Upload Image</h4>

<label for="upload-form-label">Upload your image:</label>
<form action="/photo" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Upload image">
</form>

<label for="search-bar-label">Search your photos by category:</label>
<select class="multiple-searchbar" multiple="multiple" style="width: 50%">
  <% @photolabels.each do |photolabel| %>
  <option value="<%= photolabel.label %>"><%= photolabel.label %></option>
  <% end %>
</select>
<button id="selected-labels">Enter</button>

<div id="image-board"></div>
